.progress > div {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--cirrus-light);
}

.progress > div > div {
    width: 0%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--cirrus-primary);
    transition: width 0.3s;
}

.top-element {
    width: 60%;
    margin: auto;
    transition: padding-top 0.3s;
}

.goup {
    padding-top: 10vh;
}

.truncate {
    width: 420px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover-grow:hover {
    transform: scale(1.01);
}

.info-category {
    display: inline-block;
    width: 8rem;
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
}

#song-data-table > div,
#player-data-table > div {
    height: 1.35rem;
    width: fit-content;
    max-width: 420px;
}

#preview-map {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #000000eb;
    backdrop-filter: blur(24px);
    z-index: 99999997;
}

#preview-map > div {
    z-index: 99999998;
    height: 100%;
}

#preview-map > i {
    z-index: 99999998;
    top: 2rem;
    right: 2rem;
    color: white;
    cursor: pointer;
}

#preview-map > iframe {
    width: 75%;
    height: 75vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999;
}
